<div [@routerTransition]>
    <!-- <alert></alert> -->
    <app-page-header [heading]="LT=='bn'?IsEditItem==true?'পিওএল তথ্য':'পিওএল যোগ করুন':IsEditItem==true?'POL Information':'Add New POL info'" [icon]="'fas fa-bus'"></app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6" style=" padding-bottom: 5px;">
                    <button type="button " class="btn btn-outline-success pull-right" (click)="fnGenerateModal(content,'Select Previous Bus Record') "><i class="fa fa-clone" style="font-size:24px"></i> {{LT=='bn'?'গাডির রেকড':'Car Record'}}</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row required">
                        <label for="userName" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'গাড়ির নং':' Select Car '}}<i class="fa fa-pencil-square-o custom-icon-modal-call" aria-hidden="true" (click)="fnGenerateModal(content,'Car selection')"></i></label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" id="userNamebangla" [(ngModel)]="polDetails.RegistrationNo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row required">
                        <label for="userName" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ড্রাইভার':' Driver '}}<i class="fa fa-pencil-square-o custom-icon-modal-call" aria-hidden="true" (click)="fnGenerateModal(content,'Driver selection')"></i></label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" id="userNamebangla" [(ngModel)]="polDetails.DriverName">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row required">
                        <label for="userName" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ইস্যুর তারিখ':'CheckIn Date'}}</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #id="ngbDatepicker" [(ngModel)]="checkInDate" (ngModelChange)="onSelectCheckInDateDate($event)">
                                <div class="input-group-addon" (click)="id.toggle()">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row ">
                        <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'সিএনজির পরিমাণ':'CNG Amount'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userId" [(ngModel)]="polDetails.CNG">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row ">
                        <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ডিজেলের পরিমাণ (লিটার)':'Diesel Amount'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userId" [(ngModel)]="polDetails.Diesel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row ">
                        <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?' ইঞ্জিনের তেল (লিটার)':'Engine Oil (ltr)'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userId" [(ngModel)]="polDetails.EngineOil">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?' পাওয়ার তেল (লিটার)':'Power Oil (ltr)'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userId" [(ngModel)]="polDetails.PowerOil">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row ">
                        <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'গিয়ার তেল(লিটার)':'Gear Oil(ltr)'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userId" [(ngModel)]="polDetails.GearOil">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row ">
                        <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'গ্রীস (লিটার)':'Grease (ltr)'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userId" [(ngModel)]="polDetails.Grease">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row ">
                        <label for="userName" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ইস্যুকারী':' Issued By '}}<i class="fa fa-pencil-square-o custom-icon-modal-call" aria-hidden="true" (click)="fnGenerateModal(content,'User selection')"></i></label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" id="userNamebangla" [(ngModel)]="polDetails.IssuedByName">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="extent" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'মন্তব্য':'Notes'}}</label>
                        <div class="col-sm-8">
                            <textarea rows="4" cols="40" [(ngModel)]="polDetails.Remark" style="width:100%">   </textarea>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" style="margin-bottom:0px">
                <div class="form-group col-xl-6" style="margin-bottom:0px;background-color:#e9ecef;">
                    <div class="row pull-right" style="background-color:#e9ecef">
                        <button *ngIf="IsEditItem" type="button " class="btn btn-outline-success" style="margin-right:5px" (click)="fnCreateNewProduct()">{{LT=='bn'?'নতুন লগ যোগ করুন':'Add New Log'}}</button>
                        <button type="button " [disabled]="polDetails.Status=='Approved'" class="btn btn-outline-success" (click)="fnSavePOLDetails()">{{LT=='bn'?IsEditItem==true?'তথ্য হালনাগাদ করুন':'তথ্য সংরক্ষণ করুন':IsEditItem==true?'Update Information':'Save Information'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="padding-bottom: 0px;padding-top:0px">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding:0px">
        <app-p-table [pTableSetting]="configureableModalTable" [pTableMasterData]="configureableModalData" (radioButtonCallbackFn)="fnPtableModalCallBack($event)"></app-p-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{LT=='bn'?'বন্ধ করুন':'Close'}}</button>
    </div>
</ng-template>