<div [@routerTransition]>
    <alert></alert>
    <app-page-header [heading]="LT=='bn'?'রুটের আয়':'Route Income'" [icon]="'fa-table'"></app-page-header>

    <div class="row">
        <div class="col-sm-12" style="text-align:right">
            <!-- <a [router-link]="['./product/0']">People</a> -->
            <button type="button" class="btn btn-outline-success" (click)="fnNewRoot()"><i class="fa fa-plus" style="font-size:18px"></i>{{LT=='bn'?' নতুন রুট আয় যোগ করুন':' Add New Route Income'}}</button>
        </div>
        <div class="col col-lg-12 zero-padding">
            <app-p-table [pTableSetting]="rootCostListTableBind" [pTableMasterData]="rootCostList" (customActivityOnRecord)="fnPtableCallBack($event)"></app-p-table>
        </div>
    </div>
</div>