<div [@routerTransition]>
    <alert></alert>
    <app-page-header [heading]="LT=='bn'?IsEditItem==true?'রুটের উপার্জনের তথ্য আপডেট করুন':'রুটের উপার্জন নিবন্ধন':IsEditItem==true?'Update Route Income Information':'Route Income Registration'" [icon]="'fa-table'"></app-page-header>
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="userId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'রুট':'Route'}} <i class="fa fa-pencil-square-o custom-icon-modal-call" aria-hidden="true" (click)="fnGenerateModal(content,'Select Root')"></i></label>
                    <!-- <div class="col-sm-2">
                        <input type="text" disabled class="form-control" [(ngModel)]="rootCostDetails.RootId">
                    </div> -->
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" [(ngModel)]="rootCostDetails.RootName">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="password" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'গাড়ির ধরণ':'Bus Type'}}<i class="fa fa-pencil-square-o custom-icon-modal-call" aria-hidden="true" (click)="fnGenerateModal(content,'Select Bus Type')"></i></label>
                    <!-- <div class="col-sm-2">
                        <input type="text" disabled class="form-control" [(ngModel)]="rootCostDetails.CarTypeId">
                    </div> -->
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" [(ngModel)]="rootCostDetails.Type">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="confirmPassword" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'প্রথম ট্রিপের উপার্জন':'First Trip Income'}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.FirstTripIncome">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="confirmPassword" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'দ্বিতীয় ট্রিপের উপার্জন':'Second Trip Income'}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.SecondTripIncome">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="confirmPassword" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'তৃতীয় ট্রিপের উপার্জন':'Third Trip Income'}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.ThirdTripIncome">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="confirmPassword" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ছুটির দিনে প্রথম ট্রিপের উপার্জন':'Unofficial First Trip Income'}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.UnFirstTripIncome">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="confirmPassword" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ছুটির দিনে দ্বিতীয় ট্রিপের উপার্জন':'Unofficial Second Trip Income'}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.UnSecondTripIncome">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row required">
                    <label for="confirmPassword" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ছুটির দিনে তৃতীয় ট্রিপের উপার্জন':'Unofficial Third Trip Income'}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.UnThirdTripIncome">
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="form-group col-xl-6">
                <div class="row">
                    <label for="password" class="col-sm-4 col-form-label font-weight-bold">Unofficial Cost (TK)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="rootCostDetails.UnofficialCost">
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row">
                    <label for="extent" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'মন্তব্য':'Notes'}}</label>
                    <div class="col-sm-8">
                        <textarea cols="40" rows="4" class="form-control" [(ngModel)]="rootCostDetails.Notes" style="width:100%"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xl-6">
                <div class="row">
                    <label for="status" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'অবস্থা':'Status'}}</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="status" [(ngModel)]="rootCostDetails.Status">
                            <option selected value="Active">{{LT=='bn'?'সক্রিয়':'Active'}}</option>
                            <option value="Inactive">{{LT=='bn'?'নিষ্ক্রিয়':'Inactive'}}</option>                          
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xl-6" style="margin-bottom:0px" style="background-color:#e9ecef;margin-bottom:0px">
                <div class="row pull-right" style="background-color:#e9ecef">
                    <button *ngIf="IsEditItem" type="button " class="btn btn-outline-success" (click)="fnCreateNewProduct()" style="margin-right:5px;">{{LT=='bn'?'নতুন রুট উপার্জন যোগ করুন':'Add New Route Income'}}</button>
                    <button type="button " class="btn btn-outline-success" (click)="fnSaveProduct()">{{LT=='bn'?IsEditItem==true?'তথ্য হালনাগাদ করুন':'তথ্য সংরক্ষণ করুন':IsEditItem==true?'Update Information':'Save Information'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="padding-bottom: 0px;padding-top:0px">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding:0px">
        <app-p-table [pTableSetting]="configureableModalTable" [pTableMasterData]="configureableModalData" (radioButtonCallbackFn)="fnPtableModalCallBack($event)"></app-p-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{LT=='bn'?'বন্ধ করুন':'Close'}}</button>
    </div>
</ng-template>