<div [@routerTransition]>
    <alert></alert>
    <app-page-header [heading]="LT=='bn'?'কর্মচারী':'Employee'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-sm-12" style="text-align:right">
            <!-- <a [router-link]="['./product/0']">People</a> -->
            <button type="button" class="btn btn-outline-success" (click)="fnNewEmployee()"><i class="fa fa-plus" style="font-size:18px"></i>{{LT=='bn'?' নতুন কর্মচারী যোগ করুন':' Add New Employee'}}</button>
        </div>
        <div class="col col-lg-12">
            <app-p-table [pTableSetting]="employeeTableBind" [pTableMasterData]="employeeList" (customActivityOnRecord)="fnPtableCallBack($event)"></app-p-table>
        </div>
    </div>
</div>