<div class="card card-success border border-success">
    <div class="card-header" style="background-color:#dff0d8; color:#3c763d">
        Software Description
    </div>
    <div class="card-body">
        <h6 class="card-title"><i>Integrated modules are coming soon...</i></h6>
        <div class="row col-sm-12">
            <div class="col-sm-3">
                <div class="card">
                    <!-- <div class="card-body">
                      <h4 class="card-title">Jane Doe</h4>
                      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div> -->
                    <img class="card-img-bottom" src="/assets/images/home_page.png" alt="Card image" style="width:100%">
                </div>
                <br/>
                <h6 class="card-title"><i><b>B-Track</b> Work Flow</i></h6>
                <div class="card">
                    <a href="/assets/images/work-flow.png" target="_blank">
                        <img class="card-img-bottom" src="/assets/images/work-flow.png" alt="Card image" style="width:100%">
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <p> <b>B-Track</b> is a complete solution for BRTC to track buses details information with different types of accounting report. There are few steps to track all buses activity and accounting details. It can easily track below activities:</p>
                        <ul style="list-style-type:square">
                            <li>Can track bus details which are on repair, which are on route. </li>
                            <li>Can easily track income of individual bus. It's may have on route income or different route income.</li>
                            <li>You can easily compare cost vs income of every bus.</li>
                            <li>Easily can generate different types of report.</li>
                        </ul>
                        <p><b> Reports are:</b></p>
                        <ul style="list-style-type:square">
                            <li>Daily Bus Log Report </li>
                            <li>Daily Bus Position Report </li>
                            <li>Daily Income Report </li>
                            <li> Payslip Report which are used or not</li>
                            <li> Monthly Individual Bus Report Route Wise</li>
                            <li> Monthly Income Report Route Wise</li>
                            <li> Monthly Income Report Bus Type Wise</li>

                        </ul>
                        <p><b> Modules are</b>:</p>
                        <ul style="list-style-type:square">
                            <li>Bus history tracking </li>
                            <li>Accounting</li>
                            <li>Store Management</li>
                            <li>Reporting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="card card-success border border-success">
    <div class="card-header" style="background-color:#dff0d8; color:#3c763d">
        Technology Description
    </div>
    <div class="card-body">
        <h5 class="card-title"><i>Used technology</i></h5>
        <ul style="list-style-type:square">
            <li>Angular 4 </li>
            <li>Web API, C#</li>
            <li>EF latest version</li>
            <li>SQL Server 2014</li>
            <li>Bootstrap 4</li>
        </ul>

    </div>
</div>
<br/>
<div class="card card-success border border-success">
    <div class="card-header" style="background-color:#dff0d8; color:#3c763d">
        Contact Information
    </div>
    <div class="card-body">
        <h5 class="card-title"><i>Contact Details</i></h5>
        <ul style="list-style-type:square">
            <li><b>Supervised By :</b> Md. Moniruzzaman, Manager Operation, Joarshahara Bus Depot, BRTC.</li>
            <li><b>Requirement Analyst :</b> Palash Kanti Bachar, Md. Mirajul Islam (Joarshahara Bus Depot, BRTC)</li>
            <li><b>Developed By:</b> Option B </li>
            <li><b>Contact Person :</b><a href="http://kpalash.com/" target="_blank">Palash Kanti Bachar</a> </li>
            <li><b>Contact :</b> +8801924332931</li>
        </ul>

        <h6 class="card-title"><i>Feel free to contact with this person if needed.</i></h6>
    </div>
</div>