<div [@routerTransition]>
    <alert></alert>
    <app-page-header [heading]="LT=='bn'?'চালক':'Driver'" [icon]="'fas fa-bus'"></app-page-header>

    <div class="row">
        <div class="col-sm-12" style="text-align:right">
            <!-- <a [router-link]="['./product/0']">People</a> -->
            <button type="button" class="btn btn-outline-success" (click)="fnNewDriver()"><i class="fa fa-plus" style="font-size:18px"></i> {{LT=='bn'?' নতুন চালক যোগ করুন':' Add New Driver'}}</button>
        </div>
        <div class="col col-lg-12 zero-padding">
            <app-p-table [pTableSetting]="driverTableBind" [pTableMasterData]="driverList" (customActivityOnRecord)="fnPtableCallBack($event)"></app-p-table>
        </div>
    </div>
</div>