<div [@routerTransition]>
    <alert></alert>
    <app-page-header [heading]="LT=='bn'?'রশিদের তালিকা':'Pay Slip List'" [icon]="'fa-table'"></app-page-header>

    <div class="row">
        <div class="col-sm-12" style="text-align:right">
            <!-- <a [router-link]="['./product/0']">People</a> -->
            <button type="button" class="btn btn-outline-success" (click)="fnNewBook()"><i class="fa fa-plus" style="font-size:18px"></i> {{LT=='bn'?' নতুন বই তৈরি করুন':' Create New Book'}}</button>
        </div>
        <div class="col col-lg-12 zero-padding">
            <app-p-table [pTableSetting]="paySlipTableBind" [pTableMasterData]="paySlipList" (customActivityOnRecord)="fnPtableCallBack($event)"></app-p-table>
        </div>
    </div>
</div>