<div [@routerTransition]>
    <alert></alert>
    <app-page-header [heading]="LT=='bn'?IsEditItem==true?'অ্যাকাউন্ট বিবরণ চার্ট হালনাগাদ করুন':'অ্যাকাউন্ট বিবরণ চার্ট যুক্ত করুন':IsEditItem==true?'Update Chart Of Accounts Details':'Add Chart Of Accounts Details'"
        [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="row required">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="AccountCode" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'অ্যাকাউন্ট কোড':'Account Code'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="AccountCode" [(ngModel)]="coa.AccountCode">
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="AccountName" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'অ্যাকাউন্টের নাম':'Account Name'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="AccountName" [(ngModel)]="coa.AccountName">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="AccountDescription" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'অ্যাকাউন্টের বিবরণ':'Account Description'}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="AccountDescription" [(ngModel)]="coa.AccountDescription">
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="AccountType" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'অ্যাকাউন্টের টাইপ':'Account Type'}}</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="status" [(ngModel)]="coa.AccountType">
                                <option value="Asset">{{LT=='bn'?'সম্পদ':'Asset'}}</option>
                                <option value="Expenditure">{{LT=='bn'?'ব্যায়':'Expenditure'}}</option>
                                <option value="Income">{{LT=='bn'?'উপার্জন':'Income'}}</option> 
                                <option value="Liability">{{LT=='bn'?'দায়':'Liability'}}</option>                                                          
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="IsGroup" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'গ্রুপ কিনা':'Is Group'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.IsGroup" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="ParentID" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'প্যারেন্ট আইডি':'Parent ID'}}<i class="fa fa-pencil-square-o custom-icon-modal-call" aria-hidden="true" (click)="fnGenerateModal(content,'Select Pay Slip')"></i></label>
                        <div class="col-sm-8">
                            <input disabled type="text" class="form-control" id="ParentID" [(ngModel)]="coa.ParentID">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="TrackCustomer" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'গ্রাহক ট্র্যাকিং':'Track Customer'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.TrackCustomer" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="TrackVendor" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'বিক্রেতা ট্র্যাকিং':'Track Vendor'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.TrackVendor" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="TrackBank" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'ব্যাংক ট্র্যাকিং':'Track Bank'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.TrackBank" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="TrackBill" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'বিল ট্র্যাকিং':'Track Bill'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.TrackBill" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="TrackAssetItem" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'সম্পদ ট্র্যাকিং':'Track Asset Item'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.TrackAssetItem" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-6">
                    <div class="row">
                        <label for="TrackDemandId" class="col-sm-4 col-form-label font-weight-bold">{{LT=='bn'?'চাহিদা ট্র্যাকিং আইডি':'Track Demand Id'}}</label>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="coa.TrackDemandId" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom:30px">
<div class="form-group col-xl-12" style="margin-bottom:0px;background-color:#e9ecef;">
<div class="row pull-right" style="background-color:#e9ecef; padding-right:15px">
<button type="button " class="btn btn-outline-success" style="margin-right:5px" (click)="fnSaveCOADetails()">{{LT=='bn'?IsEditItem==true?'তথ্য হালনাগাদ':'তথ্য সংরক্ষণ করুন':IsEditItem==true?'Update
Information':'Save Information'}}</button>
</div>
</div>
</div>

</div>
</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="padding-bottom: 0px;padding-top:0px">
<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding:0px">
<div class="row" style="padding-left:15px;padding-right:15px;padding-top:5px;" *ngIf="modalType == 'Select Bus Log'">
<div class="form-group col-xl-4">
    <div class="row">
        <!-- <label for="userName" class="col-sm-3 col-form-label font-weight-bold">{{LT=='bn'?'বহি তাং':'Dep. Date'}}</label> -->
        <div class="col-sm-12">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #id3="ngbDatepicker" [(ngModel)]="fromDateSelected"
                    (ngModelChange)="onSelectFromDate($event)">
                <div class="input-group-addon" (click)="id3.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group col-xl-5">
    <div class="row">
        <label for="userName" class="col-sm-3 col-form-label font-weight-bold">{{LT=='bn'?'হইতে':'To'}}</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #id9="ngbDatepicker" [(ngModel)]="toDateSelected"
                    (ngModelChange)="onSelectToDate($event)">
                <div class="input-group-addon" (click)="id9.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3" style="text-align:right">
<div class="row">
    <div class="col-sm-12" style="text-align:right">
<button type="button" class="btn btn-outline-success btn-align" styel="padding-right:5px;" (click)="fnSearchApprovedRecord()"><i class="fa fa-search" style="font-size:18px"></i> {{LT=='bn'?' অনুসন্ধান করুন':' Search'}}</button>
</div>
</div>
</div>
</div>
<app-p-table [pTableSetting]="configureableModalTable" [pTableMasterData]="configureableModalData" (radioButtonCallbackFn)="fnPtableModalCallBack($event)"></app-p-table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{LT=='bn'?'বন্ধ করুন':'Close'}}</button>
</div>
</ng-template>