<div *ngIf="message?.type=='confirm'" class="modal alert-modal" tabindex="-1" role="dialog" style="display:block!important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div *ngIf="message?.type == 'confirm'" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-left" [innerHTML]="message.text"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-right" style="margin-bottom:0px;padding-top: 10px;">
                            <a (click)="message.siFn()">
                                <button class="btn btn-outline-primary confirm-yes-btn">Yes</button>
                            </a>
                            <a (click)="message.noFn()">
                                <button class="btn btn-outline-primary">Cancel</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="message?.type=='confirmAlert'" class="modal alert-modal" tabindex="-1" role="dialog" style="display:block!important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div *ngIf="message?.type == 'confirmAlert'" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-left" [innerHTML]="message.text"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-right" style="margin-bottom:0px;padding-top: 10px;">
                            <!-- <a (click)="message.siFn()">
                                    <button class="btn btn-outline-primary confirm-yes-btn">Yes</button>
                                </a> -->
                            <a (click)="message.siFn()">
                                <button class="btn btn-outline-primary">Ok</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="message?.type=='alert'|| message?.type=='alert-terminated'" class="modal alert-modal" tabindex="-1" role="dialog" style="display:block!important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-left" [innerHTML]="message.text"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-right" style="margin-bottom:0px;padding-top: 10px;">
                            <a (click)="message.noFn()">
                                <button class="btn btn-outline-primary confirm-yes-btn">OK</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading" *ngIf="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>